<!DOCTYPE html>
<html>
<head>
<title>Reports</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="container">

<div class="text-center p-5">
  <h1>Measure.</h1>
  <p>See how well your website performs. Then, get tips to improve your user experience.</p>
</div>

<div class="row">
  <div class="card col-3">
    <div class="card-body">
      <h5 class="card-title">Peformance</h5>
    </div>
  </div>
  <div class="card col-3">
    <div class="card-body">
      <h5 class="card-title">Accessibility</h5>
    </div>
  </div>
  <div class="card col-3">
    <div class="card-body">
      <h5 class="card-title">Best Practices</h5>
    </div>
  </div>

  <div class="card col-3">
    <div class="card-body">
      <h5 class="card-title">SEO</h5>
    </div>
  </div>

</div>

<div class="text-center">
  <h3><a href="http://alphaclothing.co">http://alphaclothing.co</a></h3>
  <p>Last audit: Sep 11, 5:40 PM  <a href="#">View Report</a> </p>
  <% if (files.length) { %>
    <ul>
      <% files.forEach(function(f){ %>
        <li class="text-uppercase"><a target='_blank' href='<%= f + "" %>'><%= f %></a></li>
      <% }) %>
    </ul>
  <% } %>
</div>



  
<script src="../assets/js/bundle.js"></script>
</body>
</html> 